.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid lightgray; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 20%;
  position: relative;
  animation: spin 2s linear infinite;
}

.product-view-loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid lightgray; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 100%;
  left: 50%;
  position: relative;
  animation: spin 2s linear infinite;
}

.product-page-loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid lightgray; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 100%;
  left: 50%;
  position: relative;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
