/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: white;
  overflow: visible;
  margin-left: 50px;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-left: auto;
  padding: 20px;
}

.currency-image {
  cursor: pointer;
  border: none;
  background: none;
  padding-right: 20px;
}

.shopping-cart-image {
  cursor: pointer;
  border: none;
  background: none;
}

.women-category-selected {
  color: green;
  border-bottom: 2px solid green;
}

.men-category-selected {
  color: green;
  border-bottom: 2px solid green;
}

.kids-category-selected {
  color: green;
  border-bottom: 2px solid green;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: 20px;
  padding: 10px;
  white-space: nowrap;
}
