/* product preview section */
.product-preview {
  grid-area: product-preview;
}

/* main image section */
.product-view-image {
  grid-area: product-view-image;
}

/* product info section */
.product-info {
  grid-area: product-info;
}

/* container for product info, quantity and size */
.container {
  display: grid;
  grid-template-areas: "product-preview product-view-image product-view-image product-info";
}

.product-preview {
  display: flex;
  flex-direction: column;
}

.size-XS-main {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.size-S-main {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

.size-M-main {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.size-L-main {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

.add-to-cart {
  background-color: #5ece7b;
  padding: 0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
