.modal {
  position: absolute;
  z-index: 2; /* Sit on top */
  left: 0;
  top: 76px;
  margin-left: 60%;
  background-color: white;
  padding: 10px;
}

.footer-modal {
  width: 100%;
  display: inline-block;
  margin: 10px;
  padding-top: 20px;
}

.total-section {
  width: 100%;
}

.title {
  font-size: 20px;
  padding: 20px;
  padding-right: 60%;
}

.total-title {
  font-size: 20px;
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.total-amount {
  font-size: 20px;
  float: right;
  padding-right: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.view-bag-button {
  min-width: 47%;
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  margin: 6px;
}

.check-out-button {
  min-width: 47%;
  background-color: #5ece7b;
  border: 1px;
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  margin: 6px;
}
