.grid-container-cart {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 200px;
  margin-left: 60%;
}

.product-info {
  padding-left: 30px;
  grid-area: 1 / 1 / 3 / 2;
}
.sizes {
  grid-area: 3 / 1 / 4 / 2;
}
.white-space {
  grid-area: 1 / 2 / 4 / 4;
}
.product-image {
  grid-area: 1 / 5 / 4 / 6;
}
.quantity-increase {
  padding-left: 140px;
  grid-area: 1 / 4 / 2 / 5;
}
.quantity-modal {
  padding-left: 150px;
  grid-area: 2 / 4 / 3 / 5;
}
.quantity-decrease {
  padding-left: 140px;
  grid-area: 3 / 4 / 4 / 5;
}
.total-title {
  padding-left: 20px;
  grid-area: 4 / 1 / 5 / 2;
}

.total-amount {
  grid-area: 4 / 5 / 5 / 6;
}

.view-bag {
  grid-area: 5 / 1 / 6 / 2;
}
.check-out {
  grid-area: 5 / 5 / 6 / 6;
}

.size-S-modal-btn {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px;
}

.size-S-selected-modal-btn {
  background-color: black;
  border: 1px;
  border-style: solid;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px;
}

.size-M-modal-btn {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.size-M-selected-modal-btn {
  background-color: black;
  border: 1px;
  border-style: solid;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.plus-button-modal {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.minus-button-modal {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.view-bag-button {
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  white-space: nowrap;
}

.check-out-button {
  background-color: #5ece7b;
  border: 1px;
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
}
