.container {
  display: flex;
  padding: 10px;
}

.product-image {
  align-self: center;
  width: 20%;
  height: 20%;
}

.white-space {
  width: 50%;
}

.qty-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}
