.card {
  position: relative;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  text-align: center;
}

.card-out-of-stock {
  position: relative;
  cursor: pointer;
  padding: 20px 20px;
  top: 0;
  left: 0;
  min-width: 300px;
  opacity: 0.5;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-product-page-single-footer {
  padding: 2px 16px;
}

.product-page-single-link {
  text-decoration: none;
  color: black;
}
