.product-page-cart-product-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 5px;
}

.product-page-single-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
