.shopping-cart-single-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 60px;
  padding-right: 80px;
}

.shopping-cart-single-right-section {
  display: flex;
}

.qty-section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

.gallery-arrow-section {
  position: relative;
}

.shopping-cart-single-left-section {
  width: fit-content;
}
