.container {
  display: flex;
  padding: 10px;
}

.product-image {
  position: relative;
  align-self: center;
  width: 20%;
  height: 20%;
}

.left-arrow {
  position: absolute;
  padding-left: 74%;
  padding-top: 10%;
  z-index: 1;
}

.right-arrow {
  position: absolute;
  padding-left: 90%;
  padding-top: 10%;
  z-index: 1;
}

.white-space {
  width: 50%;
}

.qty-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}
