.attribute-items {
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  color: #1d1f22;
  padding-top: 20px;
  padding-left: 4px;
  margin: 0px;

  text-transform: uppercase;

  button.color-btn:active,
  button.color-selected-btn:active {
    transform: scale(0.9);
  }

  .color-attribute,
  .yes-no-attribute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 298px;
    gap: 5px;
  }

  .select-attribute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .select-options {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  input.yes-no-checkbox {
    width: 25px;
    height: 25px;
  }

  select.select-attribute-options {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    color: #1d1f22;
    padding: 5px;
    margin: 0px;

    text-transform: uppercase;
  }
}
