.footer-modal {
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
}

.view-bag-button {
  min-width: 40%;
  background-color: white;
  border: 1px;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  margin: 6px;
}

.check-out-button,
.check-out-button:visited {
  text-decoration: none;
  min-width: 40%;
  background-color: #5ece7b;
  border: 1px;
  border-style: solid;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
  margin: 6px;
  color: white;
}
