.footer-modal {
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
}

.view-bag-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: static;
  width: 140px;
  height: 43px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #1d1f22;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.check-out-button,
.check-out-button:visited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  position: static;
  width: 140px;
  height: 43px;
  left: 0px;
  top: 0px;

  background: #5ece7b;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
