.total-title {
  float: left;
  padding-left: 5px;
  padding-top: 20px;

  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  color: #1d1f22;
}

.total-amount {
  float: right;
  padding-right: 30px;
  padding-top: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;

  color: #1d1f22;
}
