.add-to-cart {
  position: relative;
  width: 292px;
  height: 52px;

  background: #5ece7b;

  margin-top: 25px;
  margin-bottom: 25px;

  /* --button-font */
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  /* identical to box height, or 19px */
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  /* --c-white */
  color: #ffffff;
}
