.opt-attr-btn {
  width: fit-content;
  height: fit-content;

  color: black;
  background: white;
  border: 1px solid #1d1f22;
  box-sizing: border-box;

  /* btn text */
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 5px;
}

.opt-attr-selected-btn {
  width: fit-content;
  height: fit-content;

  color: white;
  background: #1d1f22;
  border: 1px solid #1d1f22;
  box-sizing: border-box;

  /* btn text */
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 5px;
}
