.shopping-cart-nav-bar {
  position: relative;
}

.black-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 20px;
}

.quantity-count {
  position: absolute;
  color: white;
  top: 0px;
  left: 80%;
  font-weight: bold;
}
