.product-image {
  position: static;
  width: auto;
  height: 330px;
  left: 16px;
  top: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  align-content: center;
}

.main-image-product-view {
  width: 40%;
  height: 40%;
}

.product-out-of-stock-product-view {
  width: 40%;
  height: 40%;
  opacity: 0.5;
}
