.product-image {
  position: static;
  width: auto;
  height: 330px;
  left: 16px;
  top: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  align-content: center;
}

.main-image-product-view {
  width: 100%;
  height: 100%;
}

.product-out-of-stock-product-view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.shopping-cart-modal-prod-single-main-img {
  width: 105px;
  height: 137px;
}

.shopping-cart-single-main-img {
  position: relative;
  width: 200px;
  height: auto;
  left: 16px;
  top: 16px;

  padding: 0px;
  margin: 0px 0px;
  align-content: center;
}
