.loading-overlay {
  padding-top: 50px;
  padding-bottom: 5%;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
}

.loading-overlay-shopping-cart {
  padding-top: 50px;
  padding-bottom: 15%;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
}
