.loading-overlay {
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
  height: 100%;
}

.loading-overlay-shopping-cart {
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
  height: 100vh;
}

.loading-overlay-product-view {
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
}
